.context {
  color: green;
}

.counter {
  margin: 0 10px;
}

.counter-row {
  display: flex;
  flex-direction: row;
}

.counter-wrapper {
  margin: 20px auto;
  border: 1px solid rgb(100, 98, 98);
  padding: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counter-wrapper h1 {
  margin: 0 0 20px;
}
